{
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "plugins": ["stylelint-scss"],
  "rules": {
    "at-rule-no-unknown": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "no-descending-specificity": null,
    "selector-type-no-unknown": [
      true, {"ignore": ["custom-elements", "default-namespace"]}
    ]
  }
}
