html {
  position: relative;
  min-width: 320px;
  background-color: #fff;
  color: #2f292b;
  overflow-y: scroll;
  @include clamp(font-size, 18px, 20px);
}

body {
  position: relative;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: 'liga', 'clig', 'kern';
  text-rendering: optimizeLegibility;
  padding-bottom: 4rem;
  line-height: 1.5;
  @include serif;
}

a {
  color: $red;

  &:active {
    color: $red2;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
  @include sans;
}

::placeholder {
  color: #a5a6a9;
  font-weight: 400;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: 'liga', 'clig', 'kern';
  text-rendering: optimizeLegibility;
}

::selection {
  background-color: rgba($red, 0.999);
  color: #fff;
  text-shadow: none;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
}
