html {
  position: relative;
  min-width: 320px;
  background-color: #fff;
  color: #2f292b;
  overflow-y: scroll;
  @include clamp(font-size, 16px, 21px);
}

body {
  position: relative;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: 'liga', 'clig', 'kern', 'pnum';
  text-rendering: optimizeLegibility;
  padding-bottom: 4rem;
  line-height: 1.55;
  @include lora;
}

a:not([class]) {
  color: $red;

  &:hover {
    color: $red3;
  }

  &:active {
    color: $red2;
  }
}

::placeholder {
  color: #a5a6a9;
  font-weight: 400;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: 'liga', 'clig', 'kern';
  text-rendering: optimizeLegibility;
}

::selection {
  background-color: rgba($red, 0.999);
  color: #fff;
  text-shadow: none;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
}
