h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
  margin-top: 1.25em;
  margin-bottom: 0;
  @include ibm;

  a {
    text-decoration: none;
  }
}

h1 {
  font-size: 2.441em;
  font-weight: 500;
}

h2 {
  font-size: 1.953em;
  font-weight: 500;
}

h3 {
  font-size: 1.563em;
  font-weight: 500;
}

h4 {
  font-size: 1.25em;
  font-weight: 600;
}

h5 {
  font-size: 1em;
  font-weight: 700;
}

h6 {
  font-size: 0.8em;
  font-weight: 700;
}

.rt {
  p {
    &:not([class]) {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }

  img {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  ol,
  ul {
    &:not([class]) {
      margin-top: 1em;
      margin-bottom: 1em;
      list-style: none;

      > li {
        margin-bottom: 0.5em;
        position: relative;
      }
    }
  }

  ol {
    &:not([class]) {
      counter-reset: ol;

      > li {
        counter-increment: ol;
        padding-left: 2em;

        &::before {
          color: $red;
          position: absolute;
          left: -1em;
          width: 2em;
          content: counter(ol) '.';
          text-align: right;
        }
      }
    }
  }

  ul {
    &:not([class]) {
      > li {
        padding-left: 1.5em;

        &::before {
          content: '';
          border-radius: 50%;
          position: absolute;
          width: 0.35em;
          height: 0.35em;
          background: $red;
          left: 0.6em;
          top: 0.6em;
        }
      }
    }
  }
}
