h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.25em;
  margin-bottom: 0;

  a {
    text-decoration: none;
  }
}

h1 {
  font-size: 2.6179em;
  font-weight: 500;
}

h2 {
  font-size: 2.0581em;
  font-weight: 600;
}

h3 {
  font-size: 1.618em;
  font-weight: 600;
}

h4 {
  font-size: 1.272em;
  font-weight: 700;
}

h5 {
  font-size: 1em;
  font-weight: 700;
}

h6 {
  font-size: 1.7862em;
  font-weight: 700;
}

.rt {
  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  ol,
  ul {
    margin-top: 1em;
    margin-bottom: 1em;
    list-style: none;

    li {
      margin-bottom: 0.5em;
      position: relative;
    }
  }

  ol {
    counter-reset: ol;

    > li {
      counter-increment: ol;
      padding-left: 2em;

      &::before {
        color: $red;
        position: absolute;
        left: -1em;
        width: 2em;
        content: counter(ol) '.';
        text-align: right;
      }
    }
  }

  ul {
    > li {
      padding-left: 1.5em;

      &::before {
        content: '';
        border-radius: 50%;
        position: absolute;
        width: 0.35em;
        height: 0.35em;
        background: $red;
        left: 0.6em;
        top: 0.6em;
      }
    }
  }
}
