@import '~sanitize.css/sanitize';
@import '~breakpoint-sass/stylesheets/breakpoint';
@import 'variables';
@import 'fonts';
@import 'mixins';
@import 'reset';
@import 'defaults';
@import 'rt';

.navbar {
  overflow-x: hidden;
}

.anchor {
  color: $red;
}

.hero-title {
  font-size: 2.6em;
}

.hero-date {
  // @include ibm;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-weight: 700;
  font-size: 1.3em;
}

.container {
  max-width: $grid-max;
  padding-left: $pad;
  padding-right: $pad;
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
}

no-br {
  white-space: nowrap;
}

.nav {
  display: flex;
  font-size: 18px;
  padding-left: $pad;
  padding-right: $pad;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  white-space: nowrap;
  margin-top: 1em;
  margin-bottom: 1em;

  > a {
    display: block;
    text-decoration: none;

    &:not(:last-of-type) {
      margin-right: 14px;
    }
  }
}

.logo {
  margin-right: 1.5rem !important;
}

.register-button {
  margin-left: auto !important;
  background: $red;
  color: #fff;
  text-decoration: none;
  // text-transform: uppercase;
  // -webkit-font-smoothing: antialiased;
  // @include sans;
  // font-weight: 600;
  border-radius: 4px;
  letter-spacing: 0.02em;
  // line-height: 1;
  padding: 0.3rem 1rem;
  display: flex !important;
  align-items: center;
  align-self: stretch;

  &:hover {
    background: $red3;
  }

  &:active {
    color: #fff;
  }
}

.button {
  text-decoration: none;
  background: $red;
  color: #fff;
  border-radius: 4px;
  letter-spacing: 0.02em;
  padding: 0.3rem 1rem;
  line-height: 1.5;
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;

  &:active {
    color: #fff;
  }

  &:hover {
    background: $red3;
  }
}

.hero-section {
  background-position: center top;
  background-size: cover;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.hero-section-inner {
  text-align: center;

  h1 {
    margin: 0;
  }
}

.schedule-table {
  margin-top: 1rem;
}

.schedule-row {
  display: flex;
  border-top: 1px solid #dfe0e2;

  &:last-of-type {
    border-bottom: 1px solid #dfe0e2;
  }

  > div {
    &:not(:first-of-type) {
      flex-grow: 1;
      padding-top: 1em;
      padding-bottom: 1em;
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}

.schedule-time {
  border-right: 1px solid #dfe0e2;
  white-space: nowrap;
  width: 8em;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner-grid {
  display: grid;
  grid-gap: 0.5rem 1rem;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  text-align: center;

  li {
    img {
      margin: auto;
      width: auto;
    }
  }
}

.team-grid {
  display: grid;
  grid-gap: 1.5rem 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;

  @include breakpoint(640px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.team-member {
  text-align: center;

  h2 {
    font-size: 1em;
    font-weight: 700;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
  }

  p {
    font-size: 0.8em;
    margin: 0;
  }
}

.news-article {
  margin-top: 3em;
}

.news-article-date {
  // @include sans;
  // font-weight: 700;
}

.news-article-excerpt {
  margin-top: 1em;
}

.section-split {
  position: relative;

  &::before {
    content: '';
    display: block;
    margin-top: 4em;
    height: 1px;
    width: 100%;
    margin-bottom: 4em;
    background: rgb(226, 226, 226);
  }
}

.google-map {
  width: 100% !important;
  border: 0 !important;
  margin: 1.5em auto;
}
