@import '~sanitize.css/sanitize';
@import '~breakpoint-sass/stylesheets/breakpoint';
@import 'variables';
@import 'mixins';
@import 'reset';
@import 'defaults';
@import 'rt';

.navbar {
  padding-top: 1em;
  padding-bottom: 1em;
}

.container {
  max-width: $grid-max;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

no-br {
  white-space: nowrap;
}

.nav {
  display: flex;

  > a {
    display: block;

    &:not(:first-of-type) {
      margin-left: 14px;
    }
  }
}

.schedule-row {
  display: flex;
  border-top: 1px solid #dfe0e2;

  &:last-of-type {
    border-bottom: 1px solid #dfe0e2;
  }

  > div {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;

    &:not(:first-of-type) {
      flex-grow: 1;
    }
  }
}

.schedule-time {
  border-right: 1px solid #dfe0e2;
  white-space: nowrap;
  flex-basis: 10em;
  flex-shrink: 0;
}

.team-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);

  @include breakpoint(640px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.team-member {
  h2 {
    font-size: 1em;
    font-weight: 700;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
  }

  p {
    font-size: 0.8em;
    margin: 0;
  }
}
